node_modules
.env
.cursor/basecamp.env
.cursor/*.env
.idea
.vscode
.DS_Store
input_based_landers/asksmartai/js/footer/footer.js
input_based_landers/convertpdfs/js/footer/footer.js
input_based_landers/pictureeditor/js/footer/footer.js
input_based_landers/quickdirections/js/footer/footer.js
input_based_landers/manualschat/js/footer/footer.js
input_based_landers/trackpackage/js/footer/footer.js
input_based_landers/asksmartai/js/index.js
input_based_landers/convertpdfs/js/index.js
input_based_landers/pictureeditor/js/lander.js
input_based_landers/pictureeditor/js/index.js
input_based_landers/quickdirections/js/index.js
input_based_landers/manualschat/js/index.js
input_based_landers/trackpackage/js/index.js


